<h1>Editing subscriber</h1>

<%= form_for @subscriber, url: subscriber_path(@subscriber), method: :put do |form| %>
  <%= render "form", subscriber: @subscriber, form: form %>
<% end %>

<br>

<div>
  <%= link_to "Show this subscriber", @subscriber %> |
  <%= link_to "Back to subscribers", subscribers_path %>
</div>
